@import "./variables.scss";
@import "./mixin.scss";
@import "./media_query.scss";

$color :red;
$font :4px;

.box{
  background-color: #FFF;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  text-align: center;
  border: 1px solid $color;
  border-radius: 10px;

  text-align: center;
  
  & > h3 {
    color : $color;
  }
}




input[type="text"] {
  width: 100%;
  font-size : $font * 15;
  color: green;
  border: 1px solid $color;
  border-radius: 10px;
}
